@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-mono bg-black text-primary leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #00FF00;

  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #008000;
  }

  .matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .page-transition-enter {
    opacity: 0;
    transform: scale(0.95);
  }

  .page-transition-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
  }

  .page-transition-exit {
    opacity: 1;
    transform: scale(1);
  }

  .page-transition-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 500ms, transform 500ms;
  }

  .page-content {
    position: relative;
    z-index: 1;
  }
}